.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.number {
    color: white;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.text {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
