.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;

    align-items: center;

    width: 100%;
    padding: 100px 0;
}

.icon {
    grid-column-start: 2;
    grid-column-end: 3;
}
