.container {
    display: grid;
    grid-template-rows: 2fr 1fr;

    padding-top: 10px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-grey);
}

.progressbar-container {
    height: 4px;
    background-color: #c4c4c4;
}

.progress {
    height: 100%;
    width: 75%;
    background-color: var(--color-blue);
}
